/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

h1 {
  text-align: center;
}

nav {
  background-color: aqua;
}

ul {
  display: flex;
  justify-content: space-evenly;
}

.alert-notification {
  border-radius: .5rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0 auto;
  padding: 1rem;
  width: 80%;
}

.alert {
  background-color: lightcoral;
}

.notice {
  background-color: lightskyblue;
}

.registration-sign-up-form {
  background-color: aqua;
  padding: 2rem 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.registration-sign-up-form p {
  font-size: 1.5rem;
}

.registration-sign-up-form div {
  display: flex;
  flex-direction: column;
}

.registration-sign-up-form div:last-of-type {
  margin-bottom: .5rem;
}

.home-page-greeting {
  background-color: lightsteelblue;
  font-size: 2rem;
  padding: 1rem 0;
  text-align: center;
}